body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 100vh;

}       
.box{
    width: 120vh;
    height: 200px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}  
h1{
    color: rgb(94, 94, 255);
    margin-bottom: 20px;
    text-align: center;
    font-size : 30px;
}
button{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
} 
.bt1{
    background-color: red;
}
.bt2{
    background-color: blue;
}
.bt3{
    background-color: green;
}
.bt4{
    background-color: yellow;
}
.bt5{
    background-color:orangered;
}
.bt6{
    background-color: rgb(20, 144, 221);
}