body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.counter{   
    background-color: white;
    border : 2px solid lightgray;
    padding: 20px;
    border-radius: 20px; 
    text-align: center;
}
.title, .count{
    color: black;
}
.btn1{   
    background-color: green;
}
.btn2{
    margin-left: 20px;
    background-color: red;
}